.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header select {
  margin-left: 20px;
}

.daterange {
  font-size: 13px;
  color: var(--lighttext-color);
  margin-right: 15px;
}
