/* Create variables for sizes and colors to be used and changed easily */
@import url('https://fonts.cdnfonts.com/css/neo-sans-arabic');

:root {
  --lighttext-color: #ABAAB1;
  --background-color: #8A74F9;
  --default-background-color: #FFFFFF;
  --font-family-arabic: 'Neo Sans Arabic';
  --font-family-english: Inter;
}
body {
	display: flex;
	flex-direction: column;
	/* Remove this part */
	gap: 10px;
}
body:lang(ar) {
    font-family: var(--font-family-arabic);
}
body:lang(en) {
    font-family: var(--font-family-english);
}

/* Remove this part */
div {
	display: flex;
	flex-direction: column;
	background: yellowgreen;
	border-color: black;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.dashboard {
	display: flex;
	flex-direction: row;
	background-color: grey;
	min-height: 264px;
	gap: 24px;
	flex-wrap: wrap;
}

.purple_div {
	background: purple;
	flex: 1;
	min-width: 200px;
}

/* 261 should look more professional ?? */
.chart {
	flex: 2;
	min-width: 270px;
}
