@import url('https://fonts.cdnfonts.com/css/neo-sans-arabic');

:root {
  --lighttext-color: #ABAAB1;
  --accent-color: rgba(138, 116, 249, 1);
  --background-color-custom: #f2f5f6;
  --chart-background-color: #FFF;
  --font-family-arabic: 'Neo Sans Arabic';
  --font-family-english: Inter;
}

body {
  margin: 0px;
  padding: 0px;
}
